.rosterDisplay {
   /* background-color: lightblue; */
   width: 200px;
}

.adminCenter {
   display: grid;
   grid-template-columns: 1fr 4fr;
   text-align: center;
}

h3 {
   text-align: center;
}

h2 {
   margin: 5px auto;
}

.adminBtn {
   width: 150px;
   height: 30px;
}

.addPlayers {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.addPlayerRoster {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* margin: 5px auto; */
}

.rosterDisplay {
   width: 250px;
   margin: 5px auto;
}

.selectControls {
   display: flex;
   flex-direction: column;
}

.controlRow {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 2px 5px;
}

.lControl {
   text-align: right;
   margin: 2px 5px;
}

.rControl {
   text-align: left;
}

.confirm {
   text-align: center;
   width: 400px;
}