body {
   background-color: rgb(211, 198, 85);
   font-family: 'Permanent Marker', cursive;
}

select {
   border-radius: 10px;
   font-family: 'Permanent Marker', cursive;
}

button {
   font-family: 'Permanent Marker', cursive;
   border-radius: 7px;
   margin: 10px auto;
}
