:root {
   /* pallettes  */
   
   --bdazzled-blue: #3d5a80ff;
   --pale-cerulean: #98c1d9ff;
   --light-cyan: #e0fbfcff;
   --burnt-sienna: #ee6c4dff;
   --gunmetal: #293241ff;
   --imperial-red: #e63946ff;
   
   --color1: var(--bdazzled-blue);
   --color2: var(--pale-cerulean);
   --color3: var(--light-cyan);
   --color4: var(--burnt-sienna);
   --color5: var(--gunmetal);
   --color6: var(--imperial-red);
}

body {
   background-color: var(--color2);
   font-family: 'Permanent Marker', cursive;
   margin: 0px;
}

select {
   border-radius: 10px;
   font-family: 'Permanent Marker', cursive;
   background-color: var(--color3);
   margin: 5px 5px;
}

button {
   font-family: 'Permanent Marker', cursive;
   border-radius: 7px;
   margin: 10px auto;
   border: 2px solid var(--color4);
   background-color: var(--color3);
   color: var(--color5);
}

label {
   margin: 5px 5px;
}

input {
   background-color: var(--color3);
   color: var(--color5);
}