h1 {
   font-size: 2em;
   color: royalblue;
   font-family: 'Permanent Marker', cursive;
}

h4 {
   margin: 10px auto;
}

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 0px;
}

header nav {
   text-align: center;
   flex: 1;
   display: flex;
   justify-content: space-around;
   width: 50%;
   align-items: center;
   height: 100%;
   margin: 10px auto;
}

header nav a {
   color: #333;
   /* font-size: 1.2rem; */
   font-weight: 300;
}

header nav a:active,
header nav a:hover {
   color: white;
}

.standings {
   text-align: center;
}

.player {
   display: flex;
   justify-content: space-between;
}

.selectMe {
   cursor: pointer;
}