h1 {
   font-size: 2em;
   color: var(--color1);
   font-family: 'Permanent Marker', cursive;
}

h4 {
   margin: 10px auto;
}

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 0px;
    background-color: var(--color3);
}

main { 
   background-color: var(--color2);
}

header nav {
   text-align: center;
   flex: 1;
   display: flex;
   justify-content: space-between;
   width: 60%;
   align-items: center;
   height: 100%;
   margin: 10px auto;
   
}

header nav a {
   color: #333;
   /* font-size: 1.2rem; */
   font-weight: 300;
}

header nav a:active,
header nav a:hover {
   color: var(--color2);
}

.standings {
   text-align: center;
}

.player {
   display: flex;
   justify-content: space-between;
}

.selectMe {
   cursor: pointer;
}

.logout {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.logout button {
   border: 2px solid var(--color4);
   background-color: var(--color5);
   color: var(--color3);
   border-radius: 7px;
   margin: 0px 20px;
}

.loginArea {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.loginArea button {
   margin: 10px 20px;
}

.nav-active {
   color: var(--color4);
}

.myTeam {
   color: var(--color6);
}
