
.changeWeek {
   cursor: pointer;
   font-size: .75em;
   margin: auto 20px;
   width: 50px;
}

.rosters {
   text-align: center;
}

.rosterCenter {
   display: grid;
   grid-template-columns: 1fr 2fr 3fr;
   margin: 10px 5%;
}

.rosterCenter h3 {
   margin: 0px auto;
}

.teamList { 
   /* margin: 0px 5px; */
   border: 1px solid blue;
   border-radius: 6px;
   padding: 2px 3px;

}

.playerList {
   margin: 0px 15px;
   border: 1px solid blue;
   border-radius: 6px;
   padding: 2px 3px;
}

.playerDetail {
   display: flex;
   flex-direction: column;
}

.playerHeader {
   margin: 0px 15px;
   display: grid;
   grid-template-columns: 2fr 1fr;
   border: 1px solid blue;
   border-radius: 6px;
}

.playerInfo {
   display: flex;
   flex-direction: column;
   margin: 10px;
}

.statsBlock {
   font-size: .75em;
   border: 1px solid blue;
   border-radius: 6px;
   margin: 3px 15px;
}

.statRow {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 2px 25%;
}

.playerName {
   font-size: 1.25em;
   font-weight: bold
}

.playerPos {
   font-size: .75em;
}

.info {
   font-size: .75em;
   text-align: left;
}

.infoLabel {
   font-weight: bold;
}

.statsBlock {
   grid-column: span 2;
}

.infoBlock {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.myTeam {
   color: red;
}