.round-team {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   /* justify-content: space-between; */
}

.round-header {
   font-weight: bold;
}

.round {
   width: 400px;
   margin: 20px auto;
}

.round > h3 {
   text-align: center;
   display: flex;
   justify-content: space-around;
}

.round-name {
   text-align: left;
   font-family: 'Permanent Marker', cursive;
}

.changeRound {
   cursor: pointer;
   font-size: .75em;
   margin: auto 20px;
   width: 50px;
}

